/***
Spectrum Colorpicker v1.8.1
https://github.com/bgrins/spectrum
Author: Brian Grinstead
License: MIT
***/

.sp-container {
    position:absolute;
    top:0;
    left:0;
    display:inline-block;
    /* https://github.com/bgrins/spectrum/issues/40 */
    z-index: 9999994;
    /*overflow: hidden;*/
}
.sp-container.sp-flat {
    position: relative;
}

/* Fix for * { box-sizing: border-box; } */
.sp-container, .sp-container * {
    box-sizing: content-box;
}

/* http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio */
.sp-top {
  position:relative;
  width: 100%;
  display:inline-block;
}
.sp-top-inner {
   position:absolute;
   top:0;
   left:0;
   bottom:0;
   right:0;
}
.sp-color {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:20%;
}
.sp-hue {
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:84%;
    height: 100%;
}

.sp-clear-enabled .sp-hue {
    top:33px;
    height: 82.5%;
}

.sp-fill {
    padding-top: 80%;
}
.sp-sat, .sp-val {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.sp-alpha-enabled .sp-top {
    margin-bottom: 18px;
}
.sp-alpha-enabled .sp-alpha {
    display: block;
}
.sp-alpha-handle {
  position: absolute;
  top: -3px;
  bottom: -3px;
  width: 6px;
  margin-left: -3px;
  left: 50%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 4px
}
.sp-alpha {
    display: none;
    position: absolute;
    bottom: -18px;
    right: 0;
    left: 0;
    height: 10px;
}
.sp-alpha-inner {
    border: solid 1px #d0d0d0;
}

.sp-clear {
    display: none;
}

.sp-clear.sp-clear-display {
    background-position: center;
}

.sp-clear-enabled .sp-clear {
    display: block;
    position:absolute;
    top:0px;
    right:0;
    bottom:0;
    left:84%;
    height: 28px;
}

/* Don't allow text selection */
.sp-container, .sp-replacer, .sp-preview, .sp-dragger, .sp-slider, .sp-alpha, .sp-clear, .sp-alpha-handle, .sp-container.sp-dragging .sp-input, .sp-container button  {
    -webkit-user-select:none;
    -moz-user-select: -moz-none;
    -o-user-select:none;
    user-select: none;
}

.sp-container.sp-input-disabled .sp-input-container {
    display: none;
}
.sp-container.sp-buttons-disabled .sp-button-container {
    display: none;
}
.sp-container.sp-palette-buttons-disabled .sp-palette-button-container {
    display: none;
}
.sp-palette-only .sp-picker-container {
    display: none;
}
.sp-palette-disabled .sp-palette-container {
    display: none;
}

.sp-initial-disabled .sp-initial {
    display: none;
}


/* Gradients for hue, saturation and value instead of images. */
.sp-sat {
    background-image: linear-gradient(to right, #fff, rgba(204, 154, 129, 0));
}
.sp-val {
    background-image: linear-gradient(to top, #000, rgba(204, 154, 129, 0));
}

.sp-hue {
    background: linear-gradient(to bottom, #ff0000 0%, #ffff00 17%, #00ff00 33%, #00ffff 50%, #0000ff 67%, #ff00ff 83%, #ff0000 100%);
}

.sp-hidden {
    /*display: none !important;*/
    opacity: 0;
    visibility: hidden;
}

/* Clearfix hack */
.sp-cf:after { content: ""; display: table; clear: both; }

.sp-dragger {
  border-radius: 50%;
  height: 12px;
  width: 12px;
  margin: 5px 0 0 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.3);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
.sp-slider {
  position: absolute;
  top: 0;
  cursor: pointer;
  height: 6px;
  left: -3px;
  right: -3px;
  margin-top: 3px;
  background: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 4px;
}

/*
Theme authors:
Here are the basic themeable display options (colors, fonts, global widths).
See http://bgrins.github.io/spectrum/themes/ for instructions.
*/

.sp-container {
    width: 270px;
    /*border-radius: 0;*/
    background-color: #eeeeee;
    /*border: solid 1px #f0c49B;*/
    padding: 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    will-change: opacity;
    transition: opacity 0.1s ease-out;
}
.sp-container, .sp-container button, .sp-container input, .sp-color, .sp-hue, .sp-clear {
    font: normal 12px "Open Sans", Helvetica, sans-serif;
    font-weight: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.sp-top {
    margin-bottom: 6px;
}
.sp-color, .sp-hue, .sp-clear {
    border: solid 1px #d0d0d0;
}

/* Arrow */
.sp-container .sp-palette-arrow {
  position: absolute;
}

.sp-container[data-alignment="t"] .sp-palette-arrow:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
  margin-left: -6px;
  border-bottom-width: 0;
  border-top-color: #eeeeee;
}

.sp-container[data-alignment="r"] .sp-palette-arrow:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
  border-left-width: 0;
  border-right-color: #eeeeee;
}

.sp-container[data-alignment="b"] .sp-palette-arrow:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
  margin-left: -6px;
  border-top-width: 0;
  border-bottom-color: #eeeeee;
}

.sp-container[data-alignment="l"] .sp-palette-arrow:before {
  content: '';
  position: absolute;
  left: 0px;
  top: 0px;
  border-style: solid;
  border-width: 6px;
  border-color: transparent;
  border-right-width: 0;
  border-left-color: #eeeeee;
}

/* Input */
.sp-input-container {
    float:right;
    width: 170px;
    margin-bottom: 10px;
    margin-top: 5px;
}
.sp-initial-disabled  .sp-input-container {
    width: 100%;
}
.sp-input {
  /*border-radius: 3px;*/
  font-size: 12px !important;
  padding: 4px;
  margin: 0;
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  color: #222
}
.sp-input:focus {
    border: 1px solid #1baee1;
    outline: 0;
}
.sp-input.sp-validation-error {
    border: 1px solid red;
    background: #fdd;
}


/*
.sp-picker-container , .sp-palette-container {
    float:left;
    position: relative;
    padding: 10px;
    padding-bottom: 300px;
    margin-bottom: -290px;
}
*/

.sp-picker-container , .sp-palette-container {
    float:left;
    position: relative;
    margin: 0;
    border: 0;
}


.sp-picker-container {
    width: 240px;
    padding: 15px;
}

/* Palettes */
.sp-palette-container {
  min-width: 240px;
  padding: 15px 15px 5px 15px;
}

.sp-container:not(.sp-palette-only) .sp-palette-container {
  border-bottom: 1px solid #bbb;
}

.sp-thumb-el {
    position:relative;
}

/* Initial */
.sp-initial {
    float: left;
    border: solid 1px #d0d0d0;
    margin-top: 5px;
}
.sp-initial span {
    width: 30px;
    height: 24px;
    border:none;
    display:block;
    float:left;
    margin:0;
}

.sp-initial .sp-clear-display {
    background-position: center;
}

/* Buttons */
.sp-palette-button-container,
.sp-button-container {
    /*float: right;*/
    text-align: right;
}

/* Replacer (the little preview div that shows up instead of the <input>) */
.sp-replacer {
    margin:0;
    overflow:hidden;
    cursor:pointer;
    padding: 4px;
    display:inline-block;
    border: solid 1px #91765d;
    background: #eee;
    color: #333;
    vertical-align: middle;
}
.sp-replacer:hover, .sp-replacer.sp-active {
    border-color: #F0C49B;
    color: #111;
}
.sp-replacer.sp-disabled {
    cursor:default;
    border-color: silver;
    color: silver;
}
.sp-dd {
    padding: 2px 0;
    height: 16px;
    line-height: 16px;
    float:left;
    font-size:10px;
}
.sp-preview {
    position:relative;
    width:25px;
    height: 20px;
    border: solid 1px #222;
    margin-right: 5px;
    float:left;
    z-index: 0;
}

.sp-palette .sp-thumb-el {
    width:20px;
    height: 20px;
    margin:2px 1px;
    border: solid 1px #d0d0d0;
    display: block;
    position:relative;
    float:left;
    cursor: pointer;
}
.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active {
    border-color: #888;
}

.sp-palette-row-selection {
  border-top: 1px solid #CCC;
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 2px;
}

.sp-container button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor:pointer;
    outline: 0;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    line-height: 1;
}

.sp-container.sp-palette-only .sp-palette-toggle, .sp-container .sp-palette-toggle {
    opacity: 0.3;
    padding: 0px 2px 5px;
}

.sp-container .sp-palette-toggle {
    opacity: 0.7;
}

.sp-container.sp-palette-only .sp-palette-toggle:hover{
    background: inherit;
    border: inherit;
    opacity: 0.5;
}

.sp-button-container button {
    border: 2px solid #bbbbbb;
    border-radius: 2px;
    /*padding: 5px 10px;*/
    color: #000;
    margin-left: 10px;
    height: 26px;
    width: 30%;
}

.sp-button-container button:hover {
    background: transparent;
    border-color: #6e6e6e;
}

.sp-button-container .sp-choose {
  color: #fff;
  background: #555555;
  border: 0;
  padding: 7px 12px;
}

.sp-button-container .sp-choose:hover {
  background: #7b7b7b;
}

.sp-palette span:hover, .sp-palette span.sp-thumb-active {
    border-color: #000;
}

.sp-preview, .sp-alpha, .sp-thumb-el {
    position:relative;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAGElEQVQYlWNgYGCQwoKxgqGgcJA5h3yFAAs8BRWVSwooAAAAAElFTkSuQmCC');
}
.sp-preview-inner, .sp-alpha-inner, .sp-thumb-inner {
    display:block;
    position:absolute;
    top:0;left:0;bottom:0;right:0;
}

.sp-palette .sp-thumb-inner {
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.sp-palette .sp-thumb-light.sp-thumb-active .sp-thumb-inner {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAApUlEQVRIS+2UyxGAIAxEl84sRSvTTrQ0Zx1x8BMWJN7MUZn3hk1CwMcVPubjF8iEvSPqACyp1VPQAxgBTACGKPESRDi5hFOylYfAhHsIsvBWgYS3CIrgloAN4qgdjboMezH8ScA5nnfgaRr2b1Vw6wYWpBqe68EVxrNcotucq7citwepJHKeYss61KK9iqX2LaKEZU1V0w1UxPK/ikgC1IFfoBLCChRDIRkFWZUoAAAAAElFTkSuQmCC');
}

.sp-palette .sp-thumb-dark.sp-thumb-active .sp-thumb-inner {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAr0lEQVRIS+2USw6EIBBEq27mUcaT6U3Gm9WkE0gQBhsBd7r0816qu5B4+OLDfLwCd8JTRyRpIXmk1mkCSR8AG4Cd5BolUwQJ3LgryX2a4ApukqEEHnxI0ALvFrTC/wok2YKOdFFp7e7AC4H1GMA3AE9tsHt34bUEsc+nyvXAqzvIYSGRHaKi596/olrTTBI5xdi6Bb0zz4XuQQtJUGvVUALv45bnboIWyNU7r8Cd4A+geFQZwz1NUQAAAABJRU5ErkJggg==');
}

.sp-clear-display {
    background-repeat:no-repeat;
    background-position: center;
    background-image: url('data:image/gif;base64,R0lGODlhFAAUAPcAAAAAAJmZmZ2dnZ6enqKioqOjo6SkpKWlpaampqenp6ioqKmpqaqqqqurq/Hx8fLy8vT09PX19ff39/j4+Pn5+fr6+vv7+wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAEAAP8ALAAAAAAUABQAAAihAP9FoPCvoMGDBy08+EdhQAIJCCMybCDAAYUEARBAlFiQQoMABQhKUJBxY0SPICEYHBnggEmDKAuoPMjS5cGYMxHW3IiT478JJA8M/CjTZ0GgLRekNGpwAsYABHIypcAgQMsITDtWJYBR6NSqMico9cqR6tKfY7GeBCuVwlipDNmefAtTrkSzB1RaIAoXodsABiZAEFB06gIBWC1mLVgBa0AAOw==');
}
